html {
  @apply text-base;
}

body {
  @apply bg-body font-primary font-normal leading-relaxed text-text;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-primary font-bold leading-tight text-dark;
}

h1,
.h1 {
  @apply font-primary text-h1-sm md:text-h1;
}

h2,
.h2 {
  @apply text-h2-sm md:text-h2;
}

h3,
.h3 {
  @apply text-h3-sm md:text-h3;
}

h4,
.h4 {
  @apply text-h4;
}

h5,
.h5 {
  @apply text-h5;
}

h6,
.h6 {
  @apply text-h6;
}

code {
  @apply before:hidden after:hidden;
}

.swiper-pagination {
  bottom: 0 !important;
  z-index: 10 !important;
}

.swiper-slide img {
  display: block;
  border-radius: 0.5rem;
  object-fit: cover;
}

.text-animation-section-1, .text-animation-section-3, .text-animation-section-2, .text-animation-section-4, .text-animation-section-5, .text-animation-section-6, .text-animation-section-7, .text-animation-section-9 {
  clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
  opacity: 0;
  transform: translateY(100px);
}